#root {
  margin: 1em auto;
  max-width:700px;
  background-color:#F9F7F7;
  padding:20px;
}

.newsFeed__source{
  padding-bottom: 10px;
}
.newsFeed__source select{
  height:30px;
  border: 1px solid #928987;
  border-radius:5px;
  float:right;
}
h1.newsFeed__title{
    display: inline-block;
    font-size:16px;
    color:#F2779E;
    border-bottom:3px solid #F2779E;
}
.newsFeed__card {
  padding: 20px 0px;
  margin: 10px 0 10px 0;
  border-bottom:1px solid #D1D3D2;
}

.newsFeed__card h2{
  font-weight:bold;
  font-size:16px;
  padding-bottom:15px;
}
.newsFeed__card span.card__date{
  font-size:12px;
  margin-right:10px;
}
.newsFeed__card span.card__source{
  font-size:12px;
  background-color:#BDBDBD;
  border-radius:10px;
  padding:1px 10px;
  color:#fff;
}
.newsFeed__show-more{
  padding:5px 15px;
  border: 3px solid #F2779E;
  background-color:white;
  color:#F2779E;
  font-weight:bold;
}

